$btn-color: #4ec8b1;
$btn2-color: rgb(78 200 177 / 0.5);
$text-color: #d6d6ff;
$bg-color: #0a192f;
$sec-color: #85ffc7;
$sec2-color: rgb(133 255 199 / 0.5);

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    height: fit-content;
    background: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}