$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 0.5em;

$btn-color: #4ec8b1;
$btn2-color: rgb(78 200 177 / 0.5);
$text-color: #d6d6ff;
$light-text-color: rgb(214 214 255 / 0.5);
$bg-color: #0a192f;
$sec-color: #85ffc7;
$sec2-color: rgb(133 255 199 / 0.5);

.manage-experience-container {
    background-color: $bg-color;
    overflow-x: hidden;

    .manage-experience-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0;
        padding: 5vh;
        font-family: "Source Sans Pro", arial, sans-serif;
        font-weight: 300;
        color: $text-color;
        box-sizing: border-box;

        .timeline {
            width: 100%;
            max-width: 800px;
            background: $bg-color;
            padding: 100px 50px 0;
            position: relative;
            box-shadow: $container-shadow;

            &:before {
                content: "";
                position: absolute;
                top: 0px;
                left: calc(33% + 15px);
                bottom: 0px;
                width: $border-width;
                background: $btn-color;
            }

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            .entry {
                clear: both;
                text-align: left;
                position: relative;

                .left-side {
                    .title {
                        input {
                            border: none;
                            background: transparent;
                            outline: none;
                            color: $text-color;
                            background-color: $bg-color;
                            border-bottom: 2px solid $btn-color;
                            width: 60%;
                            left: 0;
                            font-size: 1.5rem;
                            font-weight: 600;
                            box-sizing: border-box;
                        }

                        padding-bottom: 1rem;
                    }

                    .date {
                        input {
                            border: none;
                            background: transparent;
                            outline: none;
                            color: $text-color;
                            background-color: $bg-color;
                            border-bottom: 2px solid $btn-color;
                            width: 31%;
                            font-size: 1rem;
                        }
                    }

                    margin-bottom: 0.5em;
                    right: 2em;
                    float: left;
                    width: 33%;
                    padding-right: $gutter;
                    text-align: right;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        width: $dot-diameter;
                        height: $dot-diameter;
                        border: $border-width solid $btn-color;
                        background-color: $bg-color;
                        border-radius: 100%;
                        top: 15%;
                        left: 98%;
                        right: -$dot-diameter;
                        z-index: 99;
                    }

                    h3 {
                        margin: 0;
                        font-size: 120%;
                    }

                    p {
                        margin: 0;
                        font-size: 100%;
                    }
                }
                .body {
                    margin: 1em -2em 3em;
                    float: right;
                    width: 66%;
                    padding-left: $gutter;

                    textarea {
                        border: none;
                        background: transparent;
                        outline: none;
                        width: 80%;
                        font-size: 1rem;
                        font-weight: 200;
                        border-bottom: 2px solid $btn-color;
                        height: 100px;
                        color: $text-color;
                        font-family: "Source Sans Pro", arial, sans-serif;
                        resize: none;
                    }

                    li:hover {
                        cursor: pointer;
                        color: rgb(214 214 255 / 0.75)
                    }

                    .add-responsibility {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        input {
                            border: none;
                            background: transparent;
                            outline: none;
                            color: $light-text-color;
                            border-bottom: 2px solid $btn-color;
                            margin-left: 0.4rem;

                            &::placeholder {
                                color: $light-text-color;
                            }
                        }

                        .add-responsibility-button {
                            display: flex;
                            border: 1px solid $btn-color;
                            border-radius: 4px;
                            color: $btn-color;
                            font-size: 1.2rem;
                            font-weight: 500;
                            font-family: "Space Mono";
                            cursor: pointer;
                            margin-right: 0.5rem;
                            margin-top: 0.5rem;
                            margin-left: 0.5rem;
                            
                            button {
                                border: none;
                                background: transparent;
                                outline: none;
                                color: $btn-color;
                                font-size: 1rem;
                                font-weight: 1000;
                                font-family: "Space Mono";
                                cursor: pointer;
                            }

                            &:hover {
                                cursor: pointer;
                                background-color: $btn-color;
                                color: $bg-color;

                                button {
                                    background-color: $btn-color;
                                    color: $bg-color;
                                }
                            }
                        }

                        p {
                            margin: 0;
                            font-size: 1rem;
                            font-weight: 200;
                            color: $light-text-color;
                        }
                    }

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    p {
                        line-height: 1.4em;

                        &:first-child {
                            margin-top: 0;
                            font-weight: 400;
                        }
                    }

                    ul {
                        color: $light-text-color;
                        padding-left: 0;
                        list-style-type: none;

                        li:before {
                            content: "-";
                            margin-right: 0.5em;
                        }
                    }

                    .experience-buttons {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        padding-right: 2rem;

                        .experience-button {
                            display: flex;
                            border: 1px solid $btn-color;
                            border-radius: 4px;
                            color: $btn-color;
                            font-size: 1.2rem;
                            font-weight: 500;
                            font-family: "Space Mono";
                            cursor: pointer;
                            padding: 0.25rem 0.25rem;
                            margin-right: 0.5rem;
                            margin-top: 0.5rem;

                            button {
                                border: none;
                                background: transparent;
                                outline: none;
                                color: $btn-color;
                                font-size: 1.2rem;
                                font-weight: 500;
                                font-family: "Space Mono";
                                cursor: pointer;
                                padding: 0.25rem 0.25rem;
                            }

                            &:hover {
                                cursor: pointer;
                                background-color: $btn-color;
                                color: $bg-color;

                                button {
                                    background-color: $btn-color;
                                    color: $bg-color;
                                }

                                li {
                                    background-color: $btn-color;
                                    color: $bg-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
